{% extends 'starter-page.html' %}
{% load static %}
{% block content %}

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid about-img" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>Bite & Bahati</h3>
            <p class="fst-italic">
              Welcome to Bite & Bahati, your serene retreat nestled in the heart of luxury and comfort. Whether you're here for relaxation or business, we offer exceptional service, modern amenities, and a warm atmosphere. Your perfect getaway begins here at Bite % Bahati!Why should you choose us?
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Unmatched Hospitality: You're more than a guest. We ensure you feel truly welcomed.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Prime Location: Enjoy the perfect blend of serenity and accessibility placed in the heart of the city, with everything you need just moments away.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Elegance & Comfort: Experience luxury like never before. With beautifully designed rooms and premium amenities.</span></li>
            </ul>
            <p>
              We believe in providing more than just a stay – we offer an experience that you’ll cherish. Your comfort, satisfaction and memories are our top priority. We can’t wait to welcome you! 🌟


            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


{% endblock %}